body, html{
    height: 100%;
    width: 100%;
}

.head{
    background-color: #F2F2F2;
    height: 7vmax;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoImage{
    height: 80%;
    width: 50%;
    max-height: 80%;
    max-width: 50%;
}