.parentDivOfAllTraningDisplayCard{
    margin: 1.5vmax 0.2vmax;
    height: 30vmax;
    width: 80%;
    background-color: #DAA520;
    border-radius: 1em;
    overflow-y:auto;
    padding: 1vmax;
}

.dayOfWeek{
    color: #F2F2F2;
    height: 3vmax;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    font-weight: bold;
    width: 90%;
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.rotate {
    animation: rotate-once 1s linear;
}

.expandAndRetract{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 3vmax;
    width: 5%;
    float: right;
}

.excludeDay{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 3vmax;
    width: 5%;
    float: left;
}

.expandAndRetract button, .excludeDay button{
    height: 3vmax;
    width: 60%;
    border:  none;
    background-color: transparent;
    cursor: pointer;
}

.expandAndRetract button img, .excludeDay button img{
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
}

.parentDivOfAllCards{
    color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.namberAndDeleteTraining{
    display: flex;
    font-weight: bold;
    height: 4vmax;
}

.numberOfExercise{
    height: 100%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trainingAttribute{
    /* height: 3vmax; */
    width: 95%;
    /* display: inline-flex;
    justify-content: start;
    align-items: center; */
}

.displaysInformation, .displaysInformation:focus{
    outline: none;
    border: none;
    padding: 0.5em;
    border-radius: 0.5em;
    height: 2.5vmax;
    width: 60%;
    cursor:default;
    font-size: clamp(1.3rem, 2vw, 1.5rem);
    color: #F2F2F2;
    background-color: transparent;
}

.editAttribute{
    height: 100%;
    width: 5%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.confirmAttribute{
    height: 100%;
    width: 5%;
    display: none;
    justify-content: center;
    align-items: center;
}

.editAttribute button, .confirmAttribute button{
    color: transparent;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    height: 70%;
    width: 70%;
}

.editAttribute button img, .confirmAttribute button img{
    border: 0;
    height: 65%;
    width: 65%;
    max-height: 65%;
    max-width: 65%;
}

.card{
    display: flex;
}

.deleteTraining{
    height: 100%;
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deleteTraining button{
    color: transparent;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    height: 50%;
    width: 50%;
}

.deleteTraining img{
    border: 0;
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
}

.parentDivOfAllCard{
    font-size: clamp(1rem, 1.7vw, 1.5rem);
    margin-top: 2vmax;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.parentNewTraining{
    display: flex;
    align-items: end;
    width: 95%;
    justify-content: center;
}

.parentNewTraining button{
    padding: 0.3vmax;
    border-radius: 0.5em;
    height: 3vmax;
    width: 30%;
    font-size: 1vmax;
    font-weight: bold;
    color: #F2F2F2;
    background-color: #33C758;
    cursor: pointer;
    margin-top: 1vmax;
}

.createNewTraining{
    margin-top: 2vmax;
    display: none;
    height: 15vmax;
    width: 100%;
    flex-direction: column;
}

.cardNewTraining{
    font-size: clamp(1rem, 1.7vw, 1.5rem);
    color:#F2F2F2 ;
    height: 20%;
}

.addNewTraining{
    height: 25%;
    display: flex;
    justify-content: center;
    align-items:end;
}
.addNewTraining button{
    height: 80%;
}

.displaysInformationNewTraining{
    border: solid clamp(0.08rem, 0.2vw, 0.15rem) black;
    padding: 0.5em;
    border-radius: 0.5em;
    height: 2.5vmax;
    width: 35%;
    cursor: pointer;
    font-size: clamp(1.3rem, 2vw, 1.5rem);
    color: #003F63;
}

.alertInputError{
    display: none;
    color: red;
    font-size: clamp(1rem, 1.7vw, 1.2rem);
    font-weight: bold;
    margin-left: 1vmax;
}

.atribute{
    display: inline-block;
}
.suggestedExercises{
    margin-left: calc(clamp(3rem, 5.8vw, 5.0rem) - 0.5em);
    display: block;
    background-color: #F2F2F2;
    color: #003F63;
    width: 60%;
    height: 15vmax;
    overflow: auto;
    border-radius: 0.5em;
    display: none;
}

.dropdown-item:not(:first-child){
    margin-top: 0.5vmax;
}
.dropdown-item{
    padding: 0.5em;
}
.dropdown-item:hover{
    background-color: #00ff00;
}
.dropdown-item > p{
    cursor: pointer;
}
